# Data cleaning of possible predictors of the Olympics throughout the years
- GDP per capita (number var)
- Population (number var)
- Olympic host city (boolean var)
- More to be added

In [1]:
import pandas as pd
import numpy as np

### Import relevant data files.
- CountryCode-to-CountryName conversion .csv file
- Code Conversion table from ibiblio.org due to difference in code standards of external data files with Olympic dataset.

In [2]:
noc_dataset = pd.read_csv("data/noc_regions.csv")

conversion_list = pd.read_html("http://www.ibiblio.org/units/codes/country.htm")
conversion_dataset = pd.concat(conversion_list, ignore_index = True)
conversion_dataset = conversion_dataset.rename(columns = conversion_dataset.iloc[0])
conversion_dataset = conversion_dataset.drop(conversion_dataset.index[0])
conversion_dataset = conversion_dataset[conversion_dataset["Country Name"] != "Country Name"]

conversion_dataset = conversion_dataset.rename(columns = {"ISO  3-alpha": "ISO_3A", "IOC  Olympic": "IOC_Olympic"})
conversion_dataset = conversion_dataset.reset_index(drop = True)

conversion_dataset.head()

,Country Name,ISO 2-alpha,ISO_3A,IANA Internet,UN Vehicle,IOC_Olympic,UN/ISO numeric,ITU calling
0,AFGHANISTAN,AF,AFG,.af,AFG,AFG,004,93
1,ÅLAND ISLANDS,AX,ALA,.ax,NaN,NaN,248,NaN
2,ALBANIA,AL,ALB,.al,AL,ALB,008,355
3,ALDERNEY,NaN,NaN,NaN,GBA,NaN,NaN,NaN
4,ALGERIA (El Djazaïr),DZ,DZA,.dz,DZ,ALG,012,213

## Import external excel or csv files for GDP, population, and host city information. Clean dataset such that it only takes from year 1960 and above.

### GDP

In [3]:
gdp_dataset = pd.read_excel("data/gdp_per_capita.xls")
#Set column names
gdp_dataset.columns = gdp_dataset.iloc[2]

#Delete unnecessary rows and columns
gdp_dataset = gdp_dataset.drop(range(3))
gdp_dataset = gdp_dataset.drop(columns = ["Indicator Name", "Indicator Code", 2017, 2018])

#Reset row numbers; start from 1
gdp_dataset = gdp_dataset.reset_index(drop = True)

gdp_dataset = gdp_dataset.rename(columns = {"Country Name": "CountryName", "Country Code": "CountryCode"})

gdp_dataset

2,CountryName,CountryCode,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,...,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25835.643142,27086.039847,24630.939268,23512.602596,24984.279447,24709.602265,25018.308952,25528.403780,25796.380251,25251.639678
1,Afghanistan,AFG,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,137.899362,161.322000,...,366.230443,370.382294,444.184404,550.514974,599.297630,648.511070,647.966460,625.339539,590.076474,549.582760
2,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3108.268643,4068.978456,3117.896944,3585.905553,4615.867475,5102.489969,5258.407376,5412.692348,4170.730358,3509.604211
3,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3595.038057,4370.539925,4114.134899,4094.360204,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4131.872341
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48582.808455,47785.659086,43339.379875,39736.354063,41098.766942,38391.080867,40619.711298,42294.994727,36038.267604,37231.815671
5,Arab World,ARB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4939.530000,6116.581229,5159.342763,5918.315891,6856.035033,7465.135230,7510.729986,7456.598173,6429.128604,6185.063514
6,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42672.613229,45758.905536,33072.575166,35037.892673,40434.366350,42086.689953,43315.141492,44443.061514,39122.049705,38517.800386
7,Argentina,ARG,NaN,NaN,1148.579957,845.077184,1166.317400,1272.010496,1266.344989,1057.755661,...,7193.617640,8953.359275,8161.306966,10276.260498,12726.908359,12969.707124,12976.636425,12245.256449,13698.293438,12654.354999
8,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3138.808703,4010.026997,2993.832531,3218.381655,3526.978143,3684.804810,3843.591213,3994.712355,3617.935746,3605.743117
9,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8980.536414,9871.997194,12058.263823,10352.822762,10375.994215,11660.329531,11589.853002,11598.751736,11901.975260,11744.815554
10,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14350.918888,14797.368491,13082.281806,12174.697801,11931.203999,12517.557937,12194.549592,12900.903003,13602.421238,14506.603541
11,Australia,AUS,1807.349784,1874.304768,1851.424816,1963.639079,2127.566902,2277.066676,2339.861938,2575.620077,...,40905.470894,49535.257874,42709.803303,51936.888712,62411.785447,67864.689862,67990.290030,62327.555939,56561.412382,49896.681101
12,Austria,AUT,935.460427,1031.815004,1087.834243,1167.000532,1269.412583,1374.532140,1486.968606,1569.667183,...,46855.771745,51708.765754,47963.179402,46858.043273,51374.958407,48567.695286,50716.708706,51704.541188,44206.784282,44731.010855
13,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3851.437869,5574.603802,4950.294791,5842.805784,7189.691229,7496.294648,7875.756953,7891.313147,5500.310382,3880.738731
14,Burundi,BDI,70.349079,71.487278,73.781765,78.900284,86.603195,51.657365,52.476723,55.131687,...,170.815152,196.271808,209.853762,231.795537,247.229379,250.362737,255.372691,273.538285,304.374221,281.181338
15,Belgium,BEL,1273.691659,1350.197673,1438.523233,1535.023729,1701.846276,1835.594766,1957.626080,2086.636005,...,44403.766899,48424.575596,44880.573020,44380.176633,47702.811894,44740.583248,46582.669550,47351.974179,40361.154191,41260.977551
16,Benin,BEN,93.022509,95.572155,94.464535,99.859114,104.339768,110.132794,112.940836,111.951602,...,706.053542,820.151350,793.452430,757.695907,825.942785,837.950500,915.328155,943.686575,783.963078,788.532442
17,Burkina Faso,BFA,68.424749,71.558180,76.520611,78.372072,80.472767,81.725115,82.545637,84.363165,...,475.110012,569.761278,552.745552,575.446453,666.840410,673.822818,699.781537,703.821656,575.314454,583.830898
18,Bangladesh,BGD,88.691211,97.142730,99.576714,101.260491,99.503864,105.789170,111.658639,121.662093,...,541.065148,615.777541,681.120537,757.671757,835.789340,856.342857,951.889453,1084.565430,1210.158849,1358.779186
19,Bulgaria,BGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5885.949252,7261.754492,6969.558557,6843.266950,7813.806692,7378.024730,7646.839866,7864.760672,6993.783483,7469.455638
20,Bahrain,BHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20977.110526,23067.565347,19356.672356,20722.103890,22512.159604,23649.366614,24737.171783,24983.379015,22688.878244,22560.581271
21,"Bahamas, The",BHS,1550.324315,1651.475477,1752.970293,1867.112988,1994.544920,2144.830971,2322.943853,2556.835301,...,31018.029492,30188.484438,28129.607503,27979.114934,27472.256171,28815.527404,28171.986004,28671.346970,30483.820100,30260.305905
22,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4180.913532,5078.314577,4701.334426,4614.829041,5054.325344,4722.013403,5042.582213,5204.243718,4584.242548,4808.636043
23,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4735.657608,6377.369732,5351.355382,6181.399916,6519.230195,6940.159254,7978.872615,8318.512690,5949.106307,5025.405064
24,Belize,BLZ,304.917107,316.403606,327.126867,336.941466,351.161126,377.594305,406.097967,420.431888,...,4324.773045,4470.220796,4253.246753,4342.963173,4515.892701,4644.559565,4673.245037,4813.718033,4905.536645,4923.358922
25,Bermuda,BMU,1902.402119,1961.538169,2020.385965,2020.265248,2199.727007,2282.216546,2630.850466,2982.749704,...,90849.586981,93605.748165,88463.312816,88207.327560,85973.158416,85458.455508,85748.065414,NaN,NaN,NaN
26,Bolivia,BOL,101.227704,108.022520,115.855641,122.350540,135.181861,148.474080,161.147465,178.377575,...,1389.629350,1736.930084,1776.866476,1981.170116,2377.688771,2645.227753,2947.938526,3124.000310,3077.026199,3117.330459
27,Brazil,BRA,210.027470,204.929302,260.225266,291.950589,261.331083,260.964693,315.277382,346.880100,...,7313.557773,8787.610658,8553.381368,11224.154083,13167.472892,12291.466852,12216.904464,12026.619391,8750.222996,8639.365743
28,Barbados,BRB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16919.246786,17243.679661,16087.729378,16203.155572,16610.418352,16536.214642,16326.913479,16261.799319,16129.049283,15891.626549
29,Brunei Darussalam,BRN,NaN,NaN,NaN,NaN,NaN,1113.402447,1237.079237,1235.892097,...,32672.367171,37951.280596,27965.475038,35268.101170,47017.027300,47651.259090,44597.279682,41530.668979,30967.890506,26939.418022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Latin America & the Caribbean (IDA & IBRD coun...,TLA,364.627854,374.939363,417.369942,408.597891,443.086920,459.037415,490.081748,488.622224,...,6745.349728,7778.724072,7195.567388,8880.204872,10008.327374,9985.933540,10114.337369,10194.206213,8602.549078,8283.527189
234,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2705.232903,4073.239280,2929.980284,3603.940551,5021.462224,5766.969812,4770.315933,3335.548567,2501.577386,1987.118804
235,Middle East & North Africa (IDA & IBRD countries),TMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3175.051535,3840.681920,3648.612343,4143.288742,4611.075979,4989.655386,4597.043856,4444.104498,3942.887352,3915.342890
236,Tonga,TON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2932.315883,3392.887992,3070.987247,3548.068399,4044.979721,4500.750362,4278.884567,4196.470593,4093.849585,3744.492261
237,South Asia (IDA & IBRD),TSA,81.560979,85.203410,89.011798,97.961148,109.756897,115.384172,94.887667,102.144802,...,953.728605,956.576293,1036.000875,1252.178771,1373.734650,1370.189137,1387.135899,1499.478807,1545.761363,1643.434838
238,Sub-Saharan Africa (IDA & IBRD countries),TSS,129.952986,131.935170,139.612810,156.241368,148.741801,161.640459,170.153133,163.908248,...,1300.137394,1450.256635,1342.210627,1556.757334,1719.493550,1761.928431,1826.157979,1866.056807,1655.382227,1493.572880
239,Trinidad and Tobago,TTO,631.329859,675.974402,703.753422,759.868843,788.124732,807.272181,786.752120,822.955036,...,16529.658013,21189.129273,14506.586037,16683.422424,19004.157145,19083.214813,19713.379288,20081.521909,17941.237942,16334.217143
240,Tunisia,TUN,NaN,NaN,NaN,NaN,NaN,218.036019,224.426620,229.168376,...,3778.184171,4310.093026,4129.977335,4140.151770,4256.912790,4137.548140,4199.084678,4274.292832,3827.729834,3666.357154
241,Turkey,TUR,509.424112,285.012709,309.446903,350.663223,369.583786,385.640976,445.250491,482.378394,...,9709.721346,10850.871936,9036.268076,10672.400365,11340.822270,11720.313014,12542.720926,12127.461458,10984.802882,10862.726426
242,Tuvalu,TUV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2638.911845,2929.421640,2595.639908,3021.889528,3642.437689,3512.516068,3466.967564,3418.645719,3232.073340,3295.720635
243,Tanzania,TZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,528.063562,651.262439,658.757953,701.604550,733.412807,820.156290,903.361862,950.818303,872.203165,878.403371
244,Uganda,UGA,62.315122,63.015161,62.016822,68.935251,76.044610,110.410491,111.635755,112.770493,...,401.850863,449.692818,554.404991,595.206173,574.919577,636.638204,655.049532,702.795104,675.121140,581.702773
245,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3068.608998,3891.037823,2545.480341,2965.142365,3569.757027,3855.421280,4029.715504,3104.658296,2124.662666,2185.728031
246,Upper middle income,UMC,162.277929,147.322109,152.192318,163.881035,175.714323,190.491344,206.591010,209.526909,...,4513.761006,5474.530949,5238.930044,6297.686024,7470.462587,7953.338288,8403.069118,8624.580717,7968.396810,7870.510072
247,Uruguay,URY,489.350147,601.701131,656.712218,584.290747,741.243051,701.704718,664.438377,580.969836,...,7009.697050,9062.312171,9415.170382,11938.212002,14166.499087,15092.068192,16881.205676,16737.898272,15524.842468,15298.350892
248,United States,USA,3007.123445,3066.562869,3243.843078,3374.515171,3573.941185,3827.527110,4146.316646,4336.426587,...,48061.537661,48401.427340,47001.555350,48375.406946,49793.713525,51450.959115,52782.086509,54696.726165,56443.817242,57588.538071
249,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,830.407694,1082.286025,1213.265328,1377.082140,1564.966945,1740.468298,1907.551233,2050.448414,2137.576852,2117.744430
250,St. Vincent and the Grenadines,VCT,161.417161,170.435141,174.565283,162.869285,173.485175,175.738135,185.360602,180.486664,...,6276.617048,6370.437886,6177.610514,6231.770232,6183.676822,6338.117781,6597.228304,6654.484003,6901.996541,7029.743842
251,"Venezuela, RB",VEN,954.859090,967.784893,1017.789558,1068.232259,854.696370,857.815978,863.018429,878.604916,...,8318.803399,11227.231378,11536.149395,13545.263453,10741.576384,12755.000082,12237.193741,15692.412878,NaN,NaN
252,British Virgin Islands,VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,Virgin Islands (U.S.),VIR,744.615385,749.271137,1054.285714,1040.201005,1318.627451,1528.735632,1820.346320,2350.305499,...,44333.065655,39207.003755,38771.274388,40043.190166,39144.165774,37849.728721,34819.147755,33573.097030,34899.266549,NaN
254,Vietnam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,901.324893,1143.268575,1210.691110,1310.370273,1515.479925,1722.683931,1871.325491,2012.046290,2065.169099,2170.648054
255,Vanuatu,VUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2393.367265,2697.961375,2643.441423,2965.802434,3275.091684,3158.586880,3167.343056,3148.365103,2788.770919,2913.967232
256,World,WLD,450.480281,462.296648,487.882090,514.576605,552.501112,589.405167,626.259847,653.005696,...,8671.459590,9395.817594,8798.665535,9514.945149,10451.453497,10563.152204,10730.315791,10890.516581,10182.192511,10208.997053
257,Samoa,WSM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3022.561555,3509.761499,3035.068269,3453.434298,3942.051645,4234.640751,4219.024862,4187.230599,4150.003780,4031.467040
258,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2685.986222,3254.820269,3209.694109,3283.510304,3736.363217,3600.673475,3876.958302,4054.721339,3574.543333,3697.121677
259,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,995.353321,1203.720733,1093.812918,1309.231960,1349.420250,1421.171575,1580.181601,1647.033657,1693.907815,1320.924127
260,South Africa,ZAF,433.941194,444.896268,461.798232,498.601747,534.374176,568.348265,603.069811,654.626304,...,6001.852563,5688.508806,5805.998362,7276.376756,7967.678159,7478.136578,6819.062302,6429.023950,5742.987800,5279.730472
261,Zambia,ZMB,234.166194,221.728401,213.894229,214.852954,243.105320,303.882532,343.912055,360.770244,...,1104.587985,1369.068249,1139.110233,1463.213573,1644.619672,1734.930612,1850.793359,1738.088202,1313.889646,1262.989682
262,Zimbabwe,ZWE,280.994586,283.315869,279.440989,280.566213,285.053174,297.363437,281.490800,297.231875,...,396.998217,325.678570,699.882264,854.847665,980.208824,1163.418689,1268.126633,1264.983826,1265.294413,1272.335450

### Host

In [4]:
host_dataset = pd.read_excel("data/olympic_host_cities.xlsx")

#Drop unnecessary rows and columns
host_dataset = host_dataset.drop(columns = ["City", "Continent", "Opening Ceremony", "Closing Ceremony"])
host_dataset = host_dataset.drop(list(range(25)) + list(range(58, 64)))

#Year change from float to integer
host_dataset["Year"] = host_dataset["Year"].astype(int)
host_dataset = host_dataset.reset_index(drop = True)

host_dataset.head()

  Code  Country Summer Winter  Year
0  USA      USA      -   VIII  1960
1  ITA    Italy   XVII      -  1960
2  AUT  Austria      -     IX  1964
3  JPN    Japan  XVIII      -  1964
4  FRA   France      -      X  1968

### Population

In [5]:
pop_dataset = pd.read_csv("data/world_population.csv")

pop_dataset = pd.read_csv("data/world_population.csv")
pop_dataset = pop_dataset.drop(columns = ["Indicator Name", "Indicator Code", "Unnamed: 61"])

pop_dataset = pop_dataset.rename(columns = {"Country": "CountryName", "Country Code": "CountryCode"})

pop_dataset.head()

,CountryName,CountryCode,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,...,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822
1,Afghanistan,AFG,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,10152331.0,10372630.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032
2,Angola,AGO,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,6309770.0,6414995.0,...,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463
3,Albania,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101
4,Andorra,AND,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281

### Do country code conversion for standardization. (ISO 3-alpha to IOC Olympic)

In [6]:
iso_to_ioc_dataset = conversion_dataset[["ISO_3A", "IOC_Olympic"]]
iso_to_ioc_dataset = iso_to_ioc_dataset.dropna()

gdp_dataset = gdp_dataset.merge(iso_to_ioc_dataset, left_on = "CountryCode", right_on = "ISO_3A")
gdp_dataset["CountryCode"] = gdp_dataset["IOC_Olympic"]
gdp_dataset = gdp_dataset.drop(columns = ["ISO_3A", "IOC_Olympic"])

pop_dataset = pop_dataset.merge(iso_to_ioc_dataset, left_on = "CountryCode", right_on = "ISO_3A")
pop_dataset["CountryCode"] = pop_dataset["IOC_Olympic"]
pop_dataset = pop_dataset.drop(columns = ["ISO_3A", "IOC_Olympic"])

# GDP per capita in US dollars

### Create GDP dataset for summer

In [7]:
summer_gdp_dataset = gdp_dataset

#Change year number columns from float to integer
#Only need years multiple of 4, drop the other columns
col_list = []
#ignore the first 2 columns, 'Country Name' and 'Country Code'
idx = 2

for col in summer_gdp_dataset.columns:
    if type(col) == np.float64:
        if col % 4 != 0: #year is not a multiple of 4
            summer_gdp_dataset = summer_gdp_dataset.drop(summer_gdp_dataset.columns[idx], axis = 1)
        else:
            col = int(col)
            idx += 1
            col_list.append(col)
    else:
        col_list.append(col)
summer_gdp_dataset.columns = col_list

#2 decimal places
summer_gdp_dataset.round(2).head()

,CountryName,CountryCode,1960,1964,1968,1972,1976,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016
0,Aruba,ARU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9764.79,14046.50,16586.07,20620.70,22569.97,27086.04,24709.60,25251.64
1,Afghanistan,AFG,59.78,82.21,129.51,136.12,199.03,274.88,NaN,NaN,NaN,NaN,NaN,216.71,370.38,648.51,549.58
2,Angola,ANG,NaN,NaN,NaN,NaN,NaN,664.12,596.60,761.62,640.62,512.62,555.30,1248.40,4068.98,5102.49,3509.60
3,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,639.48,652.77,200.85,1009.98,1126.68,2373.58,4370.54,4247.61,4131.87
4,Andorra,AND,NaN,NaN,NaN,4217.17,7152.38,12377.41,7728.91,14304.36,20547.71,19017.17,21936.53,38503.48,47785.66,38391.08,37231.82

### Create GDP dataset for Winter
After 1992, the Winter Olympics start playing in alternate years with the Summer Olympics.

In [8]:
winter_gdp_dataset = gdp_dataset

#Change year number columns from float to integer
#Only need years multiple of 4, drop the other columns
col_list = []
#ignore the first 2 columns, 'Country Name' and 'Country Code'
idx = 2 

for col in winter_gdp_dataset.columns:
    if type(col) == np.float64:
        if col <= 1992:
            if col % 4 != 0: 
                winter_gdp_dataset = winter_gdp_dataset.drop(winter_gdp_dataset.columns[idx], axis = 1)
            else:
                col = int(col)
                idx += 1
                col_list.append(col)
        else:
            if (col+2) % 4 != 0:
                winter_gdp_dataset = winter_gdp_dataset.drop(winter_gdp_dataset.columns[idx], axis = 1)
            else:
                col = int(col)
                idx += 1
                col_list.append(col)
    else:
        col_list.append(col)
        
winter_gdp_dataset.columns = col_list
#2 decimal places
winter_gdp_dataset.round(2).head()

,CountryName,CountryCode,1960,1964,1968,1972,1976,1980,1984,1988,1992,1994,1998,2002,2006,2010,2014
0,Aruba,ARU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9764.79,14046.50,16241.05,19078.34,20436.89,24045.75,23512.60,25528.40
1,Afghanistan,AFG,59.78,82.21,129.51,136.12,199.03,274.88,NaN,NaN,NaN,NaN,NaN,184.49,269.23,550.51,625.34
2,Angola,ANG,NaN,NaN,NaN,NaN,NaN,664.12,596.60,761.62,640.62,320.66,419.64,869.85,2585.13,3585.91,5412.69
3,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,639.48,652.77,200.85,586.42,813.79,1425.12,2972.74,4094.36,4578.67
4,Andorra,AND,NaN,NaN,NaN,4217.17,7152.38,12377.41,7728.91,14304.36,20547.71,16234.81,18894.52,24741.49,43748.77,39736.35,42294.99

# Olympic host cities

### Create host city dataset for summer

In [9]:
summer_host_dataset = host_dataset[host_dataset.Summer != '-']

summer_host_dataset = summer_host_dataset.reset_index(drop = True)
summer_host_dataset = summer_host_dataset.drop(columns = ["Summer", "Winter"])
summer_host_dataset = summer_host_dataset.rename(columns = {"Country": "CountryName", "Code": "CountryCode"})

summer_host_dataset

   CountryCode     CountryName  Year
0          ITA           Italy  1960
1          JPN           Japan  1964
2          MEX          Mexico  1968
3          GER    West Germany  1972
4          CAN          Canada  1976
5          RUS    Soviet Union  1980
6          USA             USA  1984
7          KOR     South Korea  1988
8          ESP           Spain  1992
9          USA             USA  1996
10         AUS       Australia  2000
11         GRE          Greece  2004
12         CHN           China  2008
13         GBR  United Kingdom  2012
14         BRA          Brazil  2016
15         JPN           Japan  2020

### Create host city dataset for winter

In [10]:
winter_host_dataset = host_dataset[host_dataset.Winter != '-']
winter_host_dataset = winter_host_dataset.reset_index(drop = True)
winter_host_dataset = winter_host_dataset.drop(columns = ["Summer", "Winter"])
winter_host_dataset = winter_host_dataset.rename(columns = {"Country": "CountryName", "Code": "CountryCode"})

winter_host_dataset

   CountryCode  CountryName  Year
0          USA          USA  1960
1          AUT      Austria  1964
2          FRA       France  1968
3          JPN        Japan  1972
4          AUT      Austria  1976
5          USA          USA  1980
6          SRB   Yugoslavia  1984
7          CAN       Canada  1988
8          FRA       France  1992
9          NOR       Norway  1994
10         JPN        Japan  1998
11         USA          USA  2002
12         ITA        Italy  2006
13         CAN       Canada  2010
14         RUS       Russia  2014
15         KOR  South Korea  2018
16         CHN        China  2022

#### Summer

In [11]:
summer_pop_dataset = pop_dataset
col_list = []
idx = 2

for col in summer_pop_dataset.columns:
    if col.isdigit():
        col = int(col)
        if col % 4 != 0: #year is not a multiple of 4
            summer_pop_dataset = summer_pop_dataset.drop(summer_pop_dataset.columns[idx], axis = 1)
        else:
            idx += 1

summer_pop_dataset.head()

,CountryName,CountryCode,1960,1964,1968,1972,1976,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016
0,Aruba,ARU,54211.0,57032.0,58386.0,59840.0,60586.0,60096.0,62836.0,61079.0,68235.0,83200.0,90853,98737.0,101353.0,102577.0,104822
1,Afghanistan,AFG,8996351.0,9731361.0,10604346.0,11721940.0,12840299.0,13248370.0,12047115.0,11540888.0,13981231.0,17822884.0,20093756,24118979.0,27294031.0,30696958.0,34656032
2,Angola,ANG,5643182.0,6093321.0,6523791.0,7094834.0,7900997.0,8929900.0,10277321.0,11513968.0,12968345.0,14682284.0,16440924,18865716.0,21759420.0,25096150.0,28813463
3,Albania,ALB,1608800.0,1814135.0,2022272.0,2243126.0,2458526.0,2671997.0,2904429.0,3142336.0,3247039.0,3168033.0,3089027,3026939.0,2947314.0,2900401.0,2876101
4,Andorra,AND,13411.0,17469.0,21890.0,26892.0,31777.0,36067.0,42706.0,50434.0,58888.0,64360.0,65390,76244.0,83861.0,82431.0,77281

#### Winter

In [12]:
winter_pop_dataset = pop_dataset
col_list = []
idx = 2

for col in winter_pop_dataset.columns:
    if col.isdigit():
        col = int(col)
        
        if col <= 1992:
            if col % 4 != 0: #year is not a multiple of 4
                winter_pop_dataset = winter_pop_dataset.drop(winter_pop_dataset.columns[idx], axis = 1)
            else:
                idx += 1
                
        else:
            if (col+2) % 4 != 0:
                winter_pop_dataset = winter_pop_dataset.drop(winter_pop_dataset.columns[idx], axis = 1)
            else:
                idx += 1

winter_pop_dataset.head()

,CountryName,CountryCode,1960,1964,1968,1972,1976,1980,1984,1988,1992,1994,1998,2002,2006,2010,2014
0,Aruba,ARU,54211.0,57032.0,58386.0,59840.0,60586.0,60096.0,62836.0,61079.0,68235.0,76700.0,87277,94992.0,100832.0,101669.0,103795.0
1,Afghanistan,AFG,8996351.0,9731361.0,10604346.0,11721940.0,12840299.0,13248370.0,12047115.0,11540888.0,13981231.0,16172719.0,18863999,21979923.0,25893450.0,28803167.0,32758020.0
2,Angola,ANG,5643182.0,6093321.0,6523791.0,7094834.0,7900997.0,8929900.0,10277321.0,11513968.0,12968345.0,13841301.0,15504318,17572649.0,20262399.0,23369131.0,26920466.0
3,Albania,ALB,1608800.0,1814135.0,2022272.0,2243126.0,2458526.0,2671997.0,2904429.0,3142336.0,3247039.0,3207536.0,3128530,3051010.0,2992547.0,2913021.0,2889104.0
4,Andorra,AND,13411.0,17469.0,21890.0,26892.0,31777.0,36067.0,42706.0,50434.0,58888.0,62677.0,64142,70049.0,80991.0,84449.0,79223.0

### Transfer to .csv files

In [13]:
summer_pop_dataset.to_csv("summer_pop_dataset.csv")
summer_host_dataset.to_csv("summer_host_dataset.csv")
summer_gdp_dataset.to_csv("summer_gdp_dataset.csv")
winter_pop_dataset.to_csv("winter_pop_dataset.csv")
winter_host_dataset.to_csv("winter_host_dataset.csv")
winter_gdp_dataset.to_csv("winter_gdp_dataset.csv")